<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">A propos de moi</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/acensi.png" alt="ACENSI (ESN)"> 
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>avr. 2018 - jusqu'à aujourd'hui</h4>
                                    <h4 class="subheading">Ingénieur de production - facilitateur DevOPS</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Aujourd’hui, j’accompagne un client sur la réorganisation de sa chaîne de production applicative et sur la réalisation d'ouvrages automatisés.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/acensi.png" alt="ACENSI (ESN)">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>sept. 2017 - avr. 2018</h4>
                                    <h4 class="subheading">Administrateur système & cloud AWS</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">J’ai rejoint ACENSI en tant qu'administrateur système & cloud AWS ce qui fut l’opportunité pour moi de monter en compétences sur les sujets DevOPS et cloud. J’ai pu par exemple passer une formation d’architecture AWS et travailler sur un projet d'e-commerce.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ariat.png" alt="Ariat Informatique (ESN)">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>févr. 2017 - août 2017</h4>
                                    <h4 class="subheading">Administrateur système et réseau</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Après 2 ans de support, je me suis spécialisé dans l’administration d’infrastructure chez ARIAT où j’ai eu l’occasion de mettre à profit mes compétences techniques et relationnelles pour la gestion d’un portefeuille client.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/bpifrance.png" alt="SRID pour le compte de BPI France (ESN)">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015 - 2017</h4>
                                    <h4 class="subheading">Technicien système et réseau</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">À l'issue de cette expérience, j’ai décidé de rejoindre l’entreprise SRID (pour le compte de BPI France) en tant que technicien afin d'accroître mes compétences techniques telles que le scripting et l’expertise sur incident.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/cyriltavian.png" alt="Cyril TAVIAN (Entrepreneur)">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014 - 2015</h4>
                                    <h4 class="subheading">Technicien informatique</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Cette première expérience en tant qu'entrepreneur m’a permis de développer le sens du relationnel, de l’engagement et du service.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
