<!-- blog Grid Section -->
    <section id="blog" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Articles</h2>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 blog-item">
                    <a href="{{ post.url }}" class="blog-link">
                        <div class="blog-hover">
                            <div class="blog-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/blog/{{ post.thumbnail }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                    </a>
                    <div class="blog-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
