<div class="modal fade" id="termuse" tabindex="-1" role="dialog" aria-labelledby="termuseLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
            <h4 class="modal-title" id="termuseLabel">Conditions d'utilisation</h4>
        </div>
        <div class="modal-body">
            <h4>Licence et utilisation</h4>
            <p>Ce site est basé sur le thème Jekyll <a href="https://github.com/y7kim/agency-jekyll-theme">Agency</a> et modifié par <a href="https://github.com/ctavian/agency-jekyll-theme">Cyril TAVIAN</a> afin d'apporter les modifications nécessaires à son utilisation. Ces deux sources sont sous la licence Apache License 2.0</a>.
            <p>Ces ressources peuvent être utilisées à condition de respecter les licences ci-dessus. </p>
            <h4>Images</h4>
            <p>Certaines images proviennent de site de ressource <a href="https://fr.freepik.com/">Freepik</a></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
        </div>
        </div>
    </div>
</div>