  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>
                            <a data-toggle="modal" data-target="#privpolicy">
                                Politique de confidentialité 
                            </a>
                        </li>
                        <li>
                            <a data-toggle="modal" data-target="#termuse">
                                Conditions d'utilisation
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% include conditions-utilisation.html %}
        {% include politique-confidentialite.html %}
    </footer>
