
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <img src="/img/blog/68757165_111311376897452_6756033674581377024_n.jpg" class="circle">
                <div class="intro-lead-in">Ingénieur de production</div>
                <!-- <div class="intro-lead-in">Bienvenu sur mon blog !</div>
                <div class="intro-heading">Automate is the new playground</div> -->
                <h3>Visionner mes derniers articles</h3>
                <a href="#blog" class="page-scroll btn btn-xl">Cliquez ici !</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

