.circle {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.post {
    text-align: justify;
    width: 80%;
}

.unlink {
    text-decoration:none; 
}

.p-50 {
    padding: 50px;
}