<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">
    {% include navbar.html %}
    {% include header.html %}
    {% include skills.html %}
    {% include blog.html %}
    {% include about.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>